<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ANT!</title>
  </head>
  <body>
    <header id="header">
      <div class="container-fluid head">
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <img id="logo" class="img-fluid" src="/static/pictures/logo.png" alt="">
            <div class="container">
              <h1 class="display-4" style="margin: 0"><b>Ant</b></h1>
            <p style="margin: 0">Connect Student and Organisations togethers</p>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary home-btn" href="sign_up.html">Sign Up</button>
            <button type="button" class="btn btn-light home-btn" href="sign_in.html">Sign In</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </header><!-- /header -->

    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar" href="index.html">Home</a>
        <a class="navbar" href="index.html">About Us</a>
        <a class="navbar" href="index.html">Benefit</a>
        <a class="navbar" href="index.html">Companies</a>
        <a class="navbar" href="index.html">Sucess Stories</a>
        <a class="navbar" href="index.html">Contact</a>
      </div>
    </nav>


   {% block body %}{% endblock %}

 </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

