<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>ANT!</title>
  </head>
  <body>
    <header id="header">
      <div class="container-fluid head">
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <img id="logo" class="img-fluid" src="/static/pictures/logo.png" alt="">
            <div class="container">
              <h1 class="display-4" style="margin: 0"><b>Ant</b></h1>
            <p style="margin: 0">Connect Student and Organisations togethers</p>
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger home-btn" href="sign_in.html">Log Out</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </header><!-- /header --> 

    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container">
        <a href="#" class="">Dashboard</a>
        <a href="#" class="">Applications</a>
        <a href="#" class="">Viewed</a>
        <a href="#" class="">Interested</a>
        <a href="#" class="">Application Applied</a>
        <a href="#" class="">Your Profile</a>
      </div>
    </nav>
    <br>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <ul class="list-group">
              <a class="list-group-item active" style="color: white">Categories</a>
              <a class="list-group-item" href="#">SEO</a>
              <a class="list-group-item" href="#">SEM</a>
              <a class="list-group-item" href="#">Social Media Marketing</a>
              <a class="list-group-item" href="#">Student-led Projects</a>
              <a class="list-group-item" href="#">Other</a>
            </ul>
          </div>
          <div class="col">
            <div class="card-deck">
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
            </div>
            <br>
            <div class="card-deck">
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
            </div>
            <br>
            <div class="card-deck">
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
              <div class="card">
                <img src="/static/pictures/company.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Company Name</small></p>
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">
                    Project description
                  </p>
                  <button type="button" class="btn btn-primary btn-sm">Read More</button>
                </div>
              </div>
            </div>
            <br>
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </article>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 justify-content-center">
            <p style="text-align: center">Copyright 2019 | <a href="">Terms and Conditions</a> applied</p>
          </div>
        </div>
      </div>
      
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>